.offers{
    max-width: 1000px;
}

.swiper-button-next,
.swiper-button-prev {
  background: rgba(20, 20, 20, 0.8);
  border-radius: 50%;
  width: 48px;
  height: 48px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 18px;
}

.swiper-pagination-bullet {
  background: #555;
}

.swiper-pagination-bullet-active {
  background: #ff7a18;
}