.header{
    padding: 10px;
    background-color: #09153a;
}

.header__container{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.header__logo{
    padding: 5px;
    margin-inline: 5px;
}

.navigation {
    display: flex;
}

.navigation__link{
  color: #F8FAFC;
  padding: 5px;
  margin-inline: 5px;
  font-weight: 700;
  letter-spacing: 0.7px;
}

.navigation__link:hover{
  color: #ff6a3d;
  text-decoration: underline;
  
}

.header__barra{
    display: flex;
    align-items: center;
}

.header__hamburger{
    font-size: 25px;
    display: none;
}

@media(max-width: 900px){
    .header__hamburger{
        display: block;
    }
    .header__barra{
        display: none;
    }
}